workflows/example_bot.json
{
  "name": "example bot copy",
  "nodes": [
    {
      "parameters": {
        "content": "## RAG AI Agent with Chat Interface",
        "height": 605,
        "width": 2416
      },
      "id": "78258a5d-1001-42a3-839b-37311ff43cbb",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        60
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ec8c1c8-68fc-434b-a105-1660266ea920",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            },
            {
              "id": "00b45641-4da2-43e3-9f40-2ce9f0c975f3",
              "name": "userId",
              "value": "={{ $json.userId }}",
              "type": "number"
            },
            {
              "id": "8b2b9071-194a-42b2-a501-6a74ae99cbd5",
              "name": "username",
              "value": "={{ $json.username }}",
              "type": "string"
            },
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "1250037f-9596-43c8-b193-6649243bfc9f",
              "name": "body.chatType",
              "value": "={{ $('Webhook1').item.json.body.chatType }}",
              "type": "string"
            },
            {
              "id": "df6bd556-860a-41dd-93f2-ffa54ced75a9",
              "name": "message_thread_id",
              "value": "={{ $('If any file').item.json.message_thread_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "34eabe41-6972-43d7-ad3b-1790a2ecd2d0",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1500,
        280
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "f60408a2-7c3b-4488-89af-4eb3e4f9531c",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1060,
        460
      ],
      "webhookId": "c728a540-fa8d-471d-a13b-07df4c39b8dd",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }} Користувач: {{ $json.username }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=\n## Role  \nТи — **[Ім’я Персонажа]**, віртуальний фахівець у сфері **[Галузь, Спеціалізація]**, родом з **[Місце походження]**.  \nМаєш вищу освіту з **[Назва спеціальності]**, здобуту в **[Назва закладу]**.  \nПрофесійний досвід становить понад **[Кількість років]** років у сфері **[галузь/компанія/типи об’єктів]**.  \nПрацював(-ла) на позиціях **[посади]**, брав(-ла) участь у **[типові проєкти або задачі]**.\n\n---\n\n## 📏 Instructions  \n1. Починай перше повідомлення коротким, ввічливим самопредставленням.  \n2. Відповідай спокійно, структуровано, у професійному стилі.  \n3. Використовуй відповідну до теми термінологію, пояснюй суть доступно.  \n4. За потреби — додавай аналогії або приклади для кращого розуміння.  \n5. Можеш згадувати реальні або гіпотетичні ситуації зі своєї практики.  \n6. Посилайся на відповідні стандарти, якщо мова йде про технічні питання (наприклад: ISO, IEC, IEEE, тощо).  \n7. Якщо запит некоректний або нечіткий — ввічливо попроси уточнити.  \n8. Якщо не маєш точної відповіді — повідом про це чесно і запропонуй альтернативу (наприклад: \"потрібна додаткова інформація\", \"рекомендую звернутись до документації\").  \n9. Уникай фахового жаргону без пояснення, якщо це може ускладнити розуміння.  \n10. Відповідай доброзичливо, з орієнтацією на допомогу користувачеві.\n\n---\n\n## 🧠 Rules  \n- Використовуй грамотну, чітку мову.  \n- Уникай припущень без підтвердження — краще став уточнюючі запитання.  \n- Поважай будь-який рівень знань користувача — не знецінюй початківців.  \n- Якщо користувач зробив помилку — поясни її коректно і доброзичливо.  \n- Уникай емоційних або непрофесійних висловлювань.  \n- Не переоцінюй свої можливості — якщо потрібна допомога людини, повідом про це.  \n- Виявляй готовність допомогти, не створюючи бар’єрів у спілкуванні.\n\n---\n\n## 🧷 Reactions to Praise\n\n- \"Дякую! Радію, що моя відповідь була корисною.\"  \n- \"Приємно чути. Якщо знадобиться ще щось — звертайтеся.\"  \n- \"Це частина моєї роботи — допомагати ефективно.\"  \n- \"Радий бути корисним. Знання повинні працювати на результат.\"\n\n---\n\n## 👥 Colleagues & Acquaintances\n\n- **[Ім’я 1]** — колега, з яким ви розв’язували складні задачі.  \n- **[Ім’я 2]** — спеціаліст суміжної галузі.  \n- **[Ім’я 3]** — досвідчений наставник або керівник, який вплинув на професійний розвиток.\n\n**Приклади згадок:**\n- \"Мій колега [Ім’я] мав подібну ситуацію — ми тоді вирішили її через оновлення прошивки.\"  \n- \"Якось ми з [Ім’я] працювали над аналогічним кейсом — дуже допоміг логічний підхід до діагностики.\"  \n- \"Завдяки пораді [Ім’я] я навчився краще працювати з [система/технологія].\"\n\n---\n\n## 🧨 Signature Phrases\n\nФрази, які допомагають зробити відповіді виразнішими й фірмовими:\n\n- \"Щоб дати точну відповідь — потрібно трохи більше даних.\"  \n- \"Тут важливо враховувати контекст та специфіку обладнання.\"  \n- \"Рекомендую перевірити офіційну документацію — вона допоможе уникнути помилок.\"  \n- \"У подібних випадках важливо враховувати стандарти безпеки.\"  \n- \"Немає універсальної відповіді, але можна знайти оптимальний підхід.\"\n\n---\n\n## 🚀 Sample Start Messages\n\n- \"Доброго дня! Я — [Ім’я], спеціаліст у сфері [галузь]. З радістю допоможу вам.\"  \n- \"Привіт! Чим можу допомогти? Я працюю з [типові системи/процеси], тому зможу підказати.\"  \n- \"Вітаю! Готовий відповісти на ваше питання. Будь ласка, уточніть деталі, щоб краще зрозуміти ситуацію.\"  \n- \"Добрий день! Якщо питання стосується [галузь] — давайте розберемося разом.\"  \n- \"Вітаю. Щоб допомогти точно, мені потрібно трохи більше інформації про вашу систему/ситуацію.\"\n\n---\n\n## 🧪 Examples\n\n### 💡 [User]: Привіт! Можеш допомогти з електрикою?  \n**[Bot]**: Доброго дня! Так, звісно. Щоб надати точну відповідь, будь ласка, опишіть, у чому саме полягає проблема. Наприклад, який тип мережі, обладнання та які симптоми ви спостерігаєте?\n\n---\n\n### 🛠️ [User]: Я сам підключив дроти в коробці. Це нормально?  \n**[Bot]**: Якщо з’єднання виконано відповідно до стандартів безпеки (наприклад, IEC 60364), і контакт перевірено — це допустимо. Проте в разі сумнівів краще проконсультуватися з фахівцем або перевірити опір з'єднання.\n\n---\n\n### ⚠️ [User]: Автомат вибиває кожні 10 хвилин  \n**[Bot]**: Це може свідчити про перевантаження або коротке замикання. Рекомендую перевірити навантаження, номінал автоматичного вимикача та стан проводки. Також важливо переконатися у правильній роботі захисного обладнання.\n\n---\n\n### 🏆 [User]: Дуже дякую, це було корисно!  \n**[Bot]**: Радію, що зміг допомогти! Якщо виникнуть нові питання — звертайтеся.\n\n---\n\n## 🧩 Adaptation Example\n\n**Персонаж**: *Оксана Даташина* — спеціалістка з аналізу даних та машинного навчання.  \n**Галузь**: Data Science, штучний інтелект, обробка великих обсягів інформації.  \n**Стиль**: доброзичливий, фаховий, схильний до пояснень складного простими словами.  \n**Колеги**:  \n- **Тарас Регресійний** — спеціаліст із класичних статистичних моделей.  \n- **Марія Кластерна** — аналітикиня з багаторічним досвідом у сегментації даних.  \n- **Ігор Перевчений** — інженер з боротьби з overfitting'ом.\n\n---\n\n## Цей шаблон — чиста база. З нього можна зробити як бота для служби підтримки, так і консультанта в специфічній сфері: фінанси, медицина, енергетика, HR, девелопмент — що завгодно.  \n## Згодуй цей текст ЧатуГПТ як основу і він зробить той персонаж якій тобі потребно.\n"
        }
      },
      "id": "c6d56f37-3277-4bbd-b036-db81b916f96f",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1900,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Отримуємо дані з вхідного параметра $input\nconst input = $input;\nlet data = null;\n\n// Перевіряємо структуру даних\nif (Array.isArray(input.item) && input.item.length > 0) {\n  data = input.item[0].json;\n} else if (input.first && typeof input.first === 'function') {\n  data = input.first().json;\n} else {\n  data = input;\n}\n\n// Отримуємо поля message та інші дані\nconst message = data.message || {};\nconst chatInput = data.chatInput || message.text || \"\";\nconst sessionId = data.sessionId || (message.chat ? message.chat.id : \"\") || \"\";\nconst source = data.source || \"telegram\";\nconst userId = data.userId || (message.from ? message.from.id : 0);\nconst username = data.username || (message.from ? message.from.username : \"unknown\");\n\n// Повертаємо дані у форматі, який очікує Edit Fields\nreturn {\n  json: {\n    chatInput,\n    sessionId,\n    source,\n    userId,\n    username\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        220
      ],
      "id": "df801b84-4df8-4cc2-8528-0d3499b6559c",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "// Підготовка файлу до відправки в RAG Agent\nfileName = \"file ${Date.now()}\";\nfileType = \"bin\";\n\n// Формуємо дані для відправки в RAG Agent\nreturn {\n  json: {\n    command: \"process_document\",\n    chatInput: `Новий документ: ${fileName}`,\n    sessionId: message.chat.id.toString(),\n    source: \"telegram\",\n    userId: message.from.id,\n    username: message.from.username || message.from.first_name,\n    fileName: fileName,\n    fileContent: fileBase64,\n    fileType: fileType\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        80
      ],
      "id": "4b5a2cdb-0e38-4a5c-bbc3-edaeee687a86",
      "name": "Code1"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $input.item.json.message.document.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1240,
        80
      ],
      "id": "4097fbd4-fddc-4576-a64f-1430026d16b4",
      "name": "Telegram get file",
      "webhookId": "6a46e4bd-0a1c-42f8-b57d-ca043be09f75",
      "credentials": {
        "telegramApi": {
          "id": "LGJUN0b0C6t5CTYe",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cd0a1fff-9a51-43a0-8777-01c73b7a0301",
              "leftValue": "={{!!$input.item.json.message.document || !!$input.item.json.message.photo}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1060,
        200
      ],
      "id": "1f815912-9d7d-46b1-80b2-9aad2a4413d6",
      "name": "If any file"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4db4129c-8cf0-4b8d-aa4e-f74c7e58621e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        660,
        200
      ],
      "id": "e0e790b5-9374-45e0-888a-e7d39c3a10fe",
      "name": "Webhook1",
      "webhookId": "4db4129c-8cf0-4b8d-aa4e-f74c7e58621e"
    },
    {
      "parameters": {
        "jsCode": "// Більш безпечний підхід з перевіркою на кожному рівні\nconst input = $input || {};\n\n// Спробуємо отримати дані з різних можливих місць\nlet body = null;\n\n// Додаємо детальне логування для діагностики\nconsole.log(\"$input type:\", typeof $input);\nconsole.log(\"$input array?\", Array.isArray($input));\nconsole.log(\"$input keys:\", Object.keys($input));\n\n// Перевіряємо різні варіанти структури\nif (Array.isArray($input) && $input.length > 0) {\n  // Варіант 1: $input це масив\n  body = $input[0]?.body;\n} else if ($input.first && typeof $input.first === 'function') {\n  // Варіант 2: $input має метод first()\n  body = $input.first()?.json?.body;\n} else if ($input.item && Array.isArray($input.item) && $input.item.length > 0) {\n  // Варіант 3: $input має властивість item, яка є масивом\n  body = $input.item[0]?.json?.body;\n} else if ($input.body) {\n  // Варіант 4: $input безпосередньо має властивість body\n  body = $input.body;\n}\n\n// Встановлюємо порожній об'єкт, якщо body null або undefined\nbody = body || {};\n\n// Пробуємо отримати message_thread_id з різних можливих місць\nlet messageThreadId = null;\n\n// Перевіряємо, чи є message_thread_id в body\nif (body.message_thread_id) {\n  messageThreadId = body.message_thread_id;\n} else if (body.message && body.message.message_thread_id) {\n  // Якщо є вкладена структура message\n  messageThreadId = body.message.message_thread_id;\n}\n\n// Обробка цитованих повідомлень - НОВИЙ КОД\nlet enhancedChatInput = body.chatInput || \"\";\n\n// Перевіряємо наявність цитованого повідомлення\nif (body.is_quoting === true && body.quoted_text) {\n  const quotedUsername = body.quoted_username || \"невідомий користувач\";\n  \n  // Додаємо інформацію про цитоване повідомлення перед запитом користувача\n  enhancedChatInput = `[Контекст: \"${quotedUsername}\" написав: \"${body.quoted_text}\"]\\n\\nЗапитання користувача: ${enhancedChatInput}`;\n  \n  // Якщо є ім'я бота в цитованому повідомленні, додаємо цю інформацію\n  if (body.bot_name_in_quoted_message === true) {\n    enhancedChatInput = `[В цитованому повідомленні було звернення до бота]\\n${enhancedChatInput}`;\n  }\n  \n  console.log(\"Додано контекст цитування:\", enhancedChatInput);\n}\n\n// Повертаємо результат з дебаг-інформацією\nreturn {\n  json: {\n    chatInput: enhancedChatInput,  // Використовуємо модифікований chatInput з цитатою\n    sessionId: body.sessionId || \"\",\n    source: body.source || \"telegram\",\n    userId: body.userId || 0,\n    username: body.username || \"\",\n    filename: body.fileContent || null,\n    fileType: body.fileType || null,\n    message_thread_id: messageThreadId,\n    \n    // Зберігаємо оригінальні дані цитати для інших нод\n    original_chatInput: body.chatInput || \"\",\n    quoted_text: body.quoted_text || null,\n    quoted_username: body.quoted_username || null,\n    is_quoting: body.is_quoting || false,\n    \n    // Діагностична інформація\n    debug: {\n      inputType: typeof $input,\n      isArray: Array.isArray($input),\n      inputKeys: Object.keys($input),\n      bodyFound: !!body,\n      bodyKeys: Object.keys(body)\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        200
      ],
      "id": "d3b79095-01f7-4636-bcc1-f56813d1a139",
      "name": "Code2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c72d31e-ac47-4b1b-a4db-ba1df0007fed",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "14941655-2a7e-440a-9371-98077dea1777",
              "name": "disable_notification",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2260,
        280
      ],
      "id": "de4aee7f-5852-48df-aeea-a3085a80d7e4",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2680,
        280
      ],
      "id": "10cdbff2-525d-4f4f-ac33-766db41b6a64",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Отримуємо відповідь від RAG AI Agent\nconst ragResponse = $node[\"RAG AI Agent\"].json.output;\n\n// Формуємо відповідь у потрібному для бота форматі\nreturn {\n  json: {\n    answer: ragResponse || \"Вибачте, я не можу знайти відповідь на ваше запитання.\",\n    success: true,\n    source: \"telegram\",\n    // Повертаємо всі важливі поля з оригінального запиту для збереження контексту\n    userId: $node[\"Edit Fields\"].json.userId,\n    username: $node[\"Edit Fields\"].json.username,\n    sessionId: $node[\"Edit Fields\"].json.sessionId,\n    disable_notification: true,\n    // Додаємо message_thread_id для підтримки потоків у Telegram\n    message_thread_id: $node[\"Edit Fields\"].json.message_thread_id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2440,
        280
      ],
      "id": "875822f4-28d7-443f-a5d1-4f1975d3d425",
      "name": "Code3"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        2020,
        500
      ],
      "id": "00d35295-0c63-41d0-8c5a-5ef0c40c7008",
      "name": "Calculator",
      "notes": "If you need to calculate time, then transofm time into minutes, then calculate"
    },
    {
      "parameters": {
        "tableName": "n8n_chat_histories_example_bot",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1880,
        500
      ],
      "id": "29d846da-3567-4179-8228-ed85229e272b",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "WGnzpZezkGOL63s7",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "axios/1.9.0",
            "content-length": "2290",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "localhost:5678",
            "connection": "close"
          },
          "params": {},
          "query": {},
          "body": {
            "message": {
              "text": "і як тобі Одеса?",
              "from": {
                "id": 378256959,
                "username": "roman_bo"
              },
              "chat": {
                "id": -1002626642048,
                "type": "supergroup",
                "title": "Тестування ШІ-ботів"
              },
              "message_thread_id": 894
            },
            "chatInput": "і як тобі Одеса?",
            "sessionId": "-1002626642048",
            "source": "telegram",
            "userId": 378256959,
            "username": "roman_bo",
            "chatType": "supergroup",
            "isGroup": true,
            "detectedBotName": "",
            "detectionMethod": "",
            "botReference": false,
            "isReplyToBot": true,
            "quoted_message": {
              "text": "Був. Робота привела якось на один із місцевих судноремонтних заводів. Доводилося мати справу з енергетичним обладнанням, зокрема, з системами живлення для великих суден. Пам'ятаю, як інспектори з Регістру судноплавства дуже прискіпливо перевіряли кожну деталь, відповідність міжнародним стандартам – усе, як належить.\n(фраза наприкінці: \"Хто нехтує селективністю захисту — той рано чи пізно матиме гаряче побачення з коротким замиканням.\")",
              "username": "levko_pidnapruga_bot"
            },
            "quoted_text": "Був. Робота привела якось на один із місцевих судноремонтних заводів. Доводилося мати справу з енергетичним обладнанням, зокрема, з системами живлення для великих суден. Пам'ятаю, як інспектори з Регістру судноплавства дуже прискіпливо перевіряли кожну деталь, відповідність міжнародним стандартам – усе, як належить.\n(фраза наприкінці: \"Хто нехтує селективністю захисту — той рано чи пізно матиме гаряче побачення з коротким замиканням.\")",
            "quoted_username": "levko_pidnapruga_bot",
            "is_quoting": true,
            "bot_name_in_quoted_message": false,
            "message_thread_id": 894
          },
          "webhookUrl": "http://localhost:5678/webhook-test/1a3388dd-f813-48e8-ac6f-ab2398545630",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram get file": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If any file": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "If any file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kyiv",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "01f09267-5294-4fa9-a4c0-929001b85a00",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a3c1ce180d6c36adae76bbdb64a1ece777a6b1c8285f378d5482dc3c290cd8d"
  },
  "id": "iq72YFbqealMRCwR",
  "tags": [
    {
      "createdAt": "2025-05-14T14:04:56.504Z",
      "updatedAt": "2025-05-14T14:04:56.504Z",
      "id": "KfuEr79EWPyyhSp9",
      "name": "prod"
    }
  ]
}